.forgot-form {
  display: flex;

  flex-direction: column;
}

.forgot-error {
  background: #ffe5e5;

  color: #ff3b3b;

  padding: 12px;

  border-radius: 12px;

  margin-bottom: 16px;

  text-align: center;

  font-size: 14px;
}

.forgot-success {
  background: #e7fff0;

  color: #18a558;

  padding: 12px;

  border-radius: 12px;

  margin-bottom: 16px;

  text-align: center;

  font-size: 14px;
}
